<!DOCTYPE html>
<html>
  <head>
    <title>Create New Message</title>
  </head>
  <body>
    <h1>Create a New Message</h1>

    <form method="POST" action="/new">
      <label>Your Name:</label><br>
      <input type="text" name="messageUser" required><br><br>

      <label>Your Message:</label><br>
      <input type="text" name="messageText" required><br><br>

      <button type="submit">Submit</button>
    </form>

    <br>
    <a href="/">Back to messages</a>
  </body>
</html>
